<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortner</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    {% csrf_token %}
    <h3 id="h3">Link Shortner</h3>
        <input type="text" placeholder="Example.in" class="input" id="inp1">
        <div class="btn">
        <button id="btn">Short It!</button>
    </div>
    <input type="text" class="input" id="sec1" placeholder="Shorted links">
    </div>
</body>
<script src="{% static 'script.js' %}"></script>
</html>